*.csv
*.RData
*.rds
*.rdf
*.json
*.snapshot
*.tsv
/2019_12_24ChristmasMusicBillboards/.Rproj.user/981C6BD7/sources/per
/2019_12_24ChristmasMusicBillboards/.Rproj.user/shared/notebooks
/2019_12_24ChristmasMusicBillboards/.Rproj.user
/2022_06_28_Gender_pay_gap/.idea/misc.xml
/2022_06_28_Gender_pay_gap/.idea/rGraphicsSettings.xml
/2022_06_28_Gender_pay_gap/.idea/sonarlint/issuestore/4/4/448e9b77b0bdc6cb1d1d90f3061c590457aae73c
/2022_06_28_Gender_pay_gap/.idea/sonarlint/issuestore/index.pb
/2022_06_28_Gender_pay_gap/.idea/vcs.xml
